<div class="container-fluid">
  <div class="title_box row">
    <div class="col-md-2 offset-md-4">
        <h1 class="title">Bootstrap<h1>
    </div>
    <div class="col-md-2">
      <span class="badge badge-success">Challenge!</span>
    </div>
  </div>
  <nav  class="menu">
    <ul class="row">
      <li class="col-md-4">top</li>
      <li class="col-md-4">menu1</li>
      <li class="col-md-4">menu2</li>
    </ul>
  </nav>
  <article class="row">
    <div class="contents col-md-6">
      <ul class="row">
      <li class="col-sm-6 col-md-4">content1</li>
      <li class="col-sm-6 col-md-7 offset-md-1"">content2</li>
      <li class="col-sm-6 col-md-7 ">contents3</li>
      <li class="col-sm-6 offset-md-1 col-md-4">contents4</li>
      </ul>
    </div>
    <div class="topic col-md-6">
      <ul>
        <li>bootstrapを使ってレスポンシブデザインを実現しよう！！</li>
        <li>やればできる！blootstrapを使ってみよう！</li>
        <li>怖くない。レスポンシブデザインができるようになればWeBアプリケーションもワンランク上に</li>
      </ul>
    </div>
  </article>
</div>
